<%- include('../../partials/header.ejs') %>

<div class="container">
    <div class="mt-5 card">
        <div class="card-header">
            Login de admin
        </div>
        <div class="card-body">
            <form class="d-grid gap-4" action="/authenticate" method="POST">
                <input type="email" class="form-control" name="email" placeholder="email@exemplo.com">
                <input type="password" class="form-control" name="password" placeholder="*******">
                <button type="submit" class="btn btn-success btn-block">
                    Logar
                </button>
            </form>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>